// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

// Include functions first
@import 'bootstrap/scss/functions';

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: 0.4rem;
$success: #7952b3;

// Required
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';

@import 'bootstrap/scss/type';
// @import "bootstrap/scss/images";
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
@import 'bootstrap/scss/card';
// @import "bootstrap/scss/breadcrumb";
@import 'bootstrap/scss/accordion';
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
@import 'bootstrap/scss/alert';
// @import "bootstrap/scss/progress";
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
// @import "bootstrap/scss/toasts";
@import 'bootstrap/scss/modal'; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import 'bootstrap/scss/popover';
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import 'bootstrap/scss/offcanvas'; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import 'bootstrap/scss/utilities/api';

//
// Custom styles
//

// @import "icon-list";

body {
	padding: 1.5rem;
	background-color: #666;
	padding-bottom: 80vh;
}

.initial-hero {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	// center
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.initial-hero-content {
		text-align: center;
		color: #fff;
	}
	a {
		color: #bbf;
		text-decoration: underline;
	}
}

// .graphic-tester {}
.reset-styles {
	/* https://stackoverflow.com/questions/15901030/how-to-reset-remove-css-styles-for-a-specific-element-or-selector-only */
	animation: none;
	animation-delay: 0;
	animation-direction: normal;
	animation-duration: 0;
	animation-fill-mode: none;
	animation-iteration-count: 1;
	animation-name: none;
	animation-play-state: running;
	animation-timing-function: ease;
	backface-visibility: visible;
	background: 0;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-image: none;
	background-origin: padding-box;
	background-position: 0 0;
	background-position-x: 0;
	background-position-y: 0;
	background-repeat: repeat;
	background-size: auto auto;
	border: 0;
	border-style: none;
	border-width: medium;
	border-color: inherit;
	border-bottom: 0;
	border-bottom-color: inherit;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-style: none;
	border-bottom-width: medium;
	border-collapse: separate;
	border-image: none;
	border-left: 0;
	border-left-color: inherit;
	border-left-style: none;
	border-left-width: medium;
	border-radius: 0;
	border-right: 0;
	border-right-color: inherit;
	border-right-style: none;
	border-right-width: medium;
	border-spacing: 0;
	border-top: 0;
	border-top-color: inherit;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top-style: none;
	border-top-width: medium;
	bottom: auto;
	box-shadow: none;
	box-sizing: content-box;
	caption-side: top;
	clear: none;
	clip: auto;
	color: inherit;
	columns: auto;
	column-count: auto;
	column-fill: balance;
	column-gap: normal;
	column-rule: medium none currentColor;
	column-rule-color: currentColor;
	column-rule-style: none;
	column-rule-width: none;
	column-span: 1;
	column-width: auto;
	content: normal;
	counter-increment: none;
	counter-reset: none;
	cursor: auto;
	direction: ltr;
	display: inline;
	empty-cells: show;
	float: none;
	font: normal;
	font-family: inherit;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	hyphens: none;
	left: auto;
	letter-spacing: normal;
	line-height: normal;
	list-style: none;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: disc;
	margin: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	max-height: none;
	max-width: none;
	min-height: 0;
	min-width: 0;
	opacity: 1;
	orphans: 0;
	outline: 0;
	outline-color: invert;
	outline-style: none;
	outline-width: medium;
	overflow: visible;
	overflow-x: visible;
	overflow-y: visible;
	padding: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: auto;
	perspective: none;
	perspective-origin: 50% 50%;
	position: static;
	/* May need to alter quotes for different locales (e.g fr) */
	quotes: '\201C''\201D''\2018''\2019';
	right: auto;
	tab-size: 8;
	table-layout: auto;
	text-align: inherit;
	text-align-last: auto;
	text-decoration: none;
	text-decoration-color: inherit;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	top: auto;
	transform: none;
	transform-style: flat;
	transition: none;
	transition-delay: 0s;
	transition-duration: 0s;
	transition-property: none;
	transition-timing-function: ease;
	unicode-bidi: normal;
	vertical-align: baseline;
	visibility: visible;
	white-space: normal;
	widows: 0;
	width: auto;
	word-spacing: normal;
	word-wrap: normal;
	z-index: auto;
	/* basic modern patch */
	all: initial !important;
	all: unset;
}
.reset-styles * {
	/* Fix an issue where there is a style on * that needs to be overridden */
	box-sizing: content-box;
}
.graphic-canvas {
	position: relative;
	overflow: hidden;

	$bg-color-color0: #bbb;
	$bg-color-bg: #fff;

	// Checkered background:
	background-color: $bg-color-bg;
	background-image: linear-gradient(45deg, $bg-color-color0 25%, transparent 25%),
		linear-gradient(-45deg, $bg-color-color0 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, $bg-color-color0 75%),
		linear-gradient(-45deg, transparent 75%, $bg-color-color0 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
.auto-reload-bar {
	width: 100%;
	position: relative;
	// height: 2em;
	.auto-reload-bar_bar {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.1);
		z-index: 1;
	}
	.auto-reload-bar_message {
		// position: absolute;
		// top: 0;
		// left: 0.5em;

		height: 1.5em;

		z-index: 3;
		color: #000;
		text-shadow: 0 0 5px #fff;
	}
	.auto-reload-bar_actions {
		display: block;
		position: relative;
		padding: 0 5px;
		height: 2em;
	}
	.auto-reload-bar_action {
		z-index: 5;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

		border-radius: 5px;
		border: 1px solid #090;
		border-left: 3px solid #090;

		background-color: rgba(0, 255, 0, 0.8);
		padding-left: 0.25em;
	}
	.auto-reload-bar_action-timed {
		position: absolute;
		top: 0;
		// left is set by JS
	}
	.auto-reload-bar_action-untimed {
		display: inline-block;
	}
}
.graphics-actions {
	display: flex;
	// justify-content: space-between;
	align-items: flex-start;
	margin: 1em 0;
	.graphics-action {
		margin: 0.5em;
	}
}

.full-wrap {
	display: flex;
	.graphic-tester-render {
		position: sticky;
		top: 10px;
	}
	.graphic-canvas-wrapper {
		position: relative;
		width: 100%;
		aspect-ratio: 1920 / 1080;
		background: rgba(230, 230, 255, 0.5);
		.graphic-canvas {
			width: 100%;
			height: 100%;
		}
	}
}

.sidebar {
	@media (max-width: 1200px) {
		width: auto;
		.row {
			flex-direction: column;
			.col-md-6 {
				width: 100%;
			}
		}
	}
}
